*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    background: url("../images/green-game-table.jpg") no-repeat center center /cover;
    height: 100vh;
    font-size: 62.5%;
}
@font-face {
    font-family: 'MotionPicture';
    src: url(../fonts/MotionPicture.ttf);
}
.golden-text{
    font-family: 'MotionPicture', Georgia, 'Times New Roman', Times, serif;
    font-size: 8rem;
    color:gold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card-size{
    width: 8rem;
    box-shadow: 2px 2px 2px #333333;
}
.enter-play-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enter{
    font-family: 'MotionPicture',Georgia, 'Times New Roman', Times, serif;
    font-size: 12rem;
    color: gold;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    
}
.enter:hover{
    color:rgb(180, 13, 13);
}
.enter:active{
    transform: scale(0.98);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    transform: translateY(4px);
}
.how-to{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    margin-top: 2rem;
    color: antiquewhite;
    text-shadow: 1px 1px 1px #030303;
}
.how-to:hover{
    color: #030303;
    text-shadow: 1px 1px 1px antiquewhite;
}
a{
    text-decoration: none;
}





/* sizing for tablets / laptops */
@media screen and (min-width:768px){
    .card-size{
        width:12rem;
        box-shadow: 2px 2px 2px #333333;
    }
    
}
/* sizing for desltop */
@media screen and (min-width:1080px){
    .card-size{
        width:16rem;
        box-shadow: 2px 2px 2px #333333;
    }
    
}



