/* general styles */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    background: url("../images/floating-ace-1.jpg") no-repeat center center /cover;
    height: 100vh;
    font-size: 62.5%;
}

#green-table {
    background: url("../images/green-game-table.jpg") no-repeat center center /cover;
    height: 100vh;
}

@font-face {
    font-family: 'MotionPicture';
    src: url(../fonts/MotionPicture.ttf);
}

/* Hero page styles */
.overlay {
    background-color: rgba(62, 62, 61, 0.6);
    width: 80%;
    height: 90vh;
    margin: 0 auto;
}

.golden-text {
    font-family: 'MotionPicture', Georgia, 'Times New Roman', Times, serif;
    font-size: 8rem;
    color: gold;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-size {
    width: 8rem;
    box-shadow: 2px 2px 2px #333333;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.enter-play-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter {
    font-family: 'MotionPicture', Georgia, 'Times New Roman', Times, serif;
    font-size: 12rem;
    color: gold;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);

}

.enter:hover {
    color: rgb(180, 13, 13);
}

.enter:active {
    transform: scale(0.98);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    transform: translateY(4px);
}

.how-to {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    margin-top: 2rem;
    color: antiquewhite;
    text-shadow: 1px 1px 1px #030303;
}

.how-to:hover {
    color: #030303;
    text-shadow: 1px 1px 1px antiquewhite;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* Modal styles */
.modal-hero {
    display: none;
    border-radius: 10%;
    margin-top: 2rem;
    position: absolute;
    z-index: 1;
    left: 2;
    width: 25rem;
    height: 25rem;
    background-image: linear-gradient(45deg, black, #666666);
}

.modal-instructions {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gold;
    font-size: 1.8rem;
    line-height: 2rem;
    text-align: center;
    margin-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.close-modal {
    width: 10rem;
    margin: 1rem;
    border-radius: 10%;
    padding: 5px 5px;
    background-color: rgb(5, 71, 5);
    color: gold;
}

.close-modal:hover {
    cursor: pointer;
}

/* Game page styles */

.logo {
    font-family: 'MotionPicture';
    font-size: 4rem;
    text-align: center;
    text-shadow: 1px 1px 2px gold;
}

/* results */
.result-style {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    width: 20rem;
    height: 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    box-shadow: 2px 2px 2px #333333;

}

.result-style ul li {
    display: inline;
}

/* win / lose Box */
.win-lose-area {
    margin-top: 6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    text-align: center;
    color: gold;
}

/* Dealer Section */

.dealer-card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.dealer-window {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.dealer-play {
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    width: 20rem;
    height: 4.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    font-weight: 600;
    color: #000000;
    background-color: gold;
    box-shadow: 2px 2px 2px #000000;
}

.dealer-play:hover {
    background-color: #030303;
    color: gold;
    cursor: pointer;
}

.dealer-play:active {
    color: black;
}

/* Player Section */

.player-card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.player-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#player-play {
    padding-left: 0.2rem;
    width: 20rem;
    height: 4.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    color: #000000;
    background-color: gold;
    text-align: left;
}

#player-play:hover {
    color: gold;
    background-color: #000000;
    cursor: pointer;
}

#player-play:active {
    background-color: #000000;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player-options {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 9rem;
    height: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 2rem;
    color: #000000;
    background-color: gold;
    text-shadow: 1px 1px 2px #333333;
    letter-spacing: 0.25rem;
    transition: 0.3s;
}

.player-options:hover {
    background-color: red;
    cursor: pointer;
}

.player-options:active {
    background-color: #000000;
}

/* sizing for tablets / laptops */
@media screen and (min-width:768px) {
    .card-size {
        width: 12rem;
        box-shadow: 2px 2px 2px #333333;
    }

    .golden-text {
        margin-top: 10%;
        font-size: 10rem;
    }

}

/* sizing for desktop */
@media screen and (min-width:1080px) {
    body {
        background-image: url("../images/floating-ace-1.jpg") no-repeat;
    }

    .card-size {
        width: 16rem;
        box-shadow: 2px 2px 2px #333333;
    }

    .modal-hero {
        width: 50rem;
        height: 30rem;
    }

    .modal-instructions {
        font-size: 2rem;
        line-height: 3rem;
    }

    .golden-text {
        margin-top: 0%;
        font-size: 12rem;
    }

    .win-lose-area {
        margin-top: 0;
    }
}